@font-face {font-family:"ProximaNovaRegular"; src:url("../fonts/proximanova-reg-webfont.eot"); src:url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"ProximaNovaBold"; src:url("../fonts/proximanova-bold-webfont.eot"); src:url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg"); font-weight:normal; font-style:normal}

html {min-width:1000px; height:100%}

body {min-width:1000px; height:100%; margin:0; padding:0; font:300 14px/18px "Open Sans", sans-serif; color:#000; background:#f5f7f9}

strong {font-weight:bold}

a {color:#000; outline:none}
a:hover {text-decoration:none}

img {border:none}

.wrapper {min-width:1000px; width:100%; position:relative; min-height:100%; overflow:hidden; background:url(../images/bg.png) repeat-y}
.wrapper-inner {width:100%; padding:0 0 146px 0}
.wrapper-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.side {float:left; width:100px; background:#16162c}
.side ul {margin:0; padding:0; list-style:none}
.side ul li {margin:0; padding:0}
.side ul li.active {background:#f60800}

.side-avatar {display:block; padding:11px 0; text-decoration:none; line-height:0; position:relative; text-align:center; margin:0 0 9px 0}
.side-avatar img {position:relative; border:2px solid #fff; background:#fff; -moz-border-radius:34px; -webkit-border-radius:34px; border-radius:34px}

.side-item {display:block; padding:12px 0 11px 0; text-decoration:none; text-align:center; color:#fff}
.side-item:hover {background:#f60800}
.side-item-icon {width:46px; height:46px; line-height:46px; position:relative; margin:0 auto; border:2px solid #fff; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px}
.side-item-icon img {vertical-align:middle}
.side-item-icon div {position:absolute; right:-10px; top:-10px; width:26px; height:26px; color:#fff; font-weight:bold; font-size:10px; line-height:26px; background:#f60800; -moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px}
.side-item:hover .side-item-icon div,
.side ul li.active .side-item-icon div {background:#fff; color:#f60800}
.side-item-name {font:10px/12px ProximaNovaRegular, sans-serif; text-transform:uppercase; padding:6px 0 0 0}

.container {margin:0 30px 0 130px}
.content {float:left; width:100%}

header {width:100%; padding:0 0 24px 0}
header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.header-title {float:left; font:24px/24px ProximaNovaBold, sans-serif; text-transform:uppercase; color:#8e919e; padding:34px 0 0 0}

.header-menu {float:right; font:12px/18px ProximaNovaRegular, sans-serif; text-transform:uppercase; padding:37px 0 0 0}
.header-menu ul {margin:0; padding:0; list-style:none}
.header-menu ul li  {float:left; margin:0 10px; padding:0}
.header-menu ul li a {color:#f60800}

.search {float:right; margin:30px 10px 0 0; width:220px; height:28px; background:#fff; overflow:hidden}
.search form {position:relative; margin:0; padding:0}
.search-input {float:left; width:190px; position:relative}
.search-input span {position:absolute; left:10px; top:4px; display:none; color:#9a9aa6; font-size:12px}
.search-input input {vertical-align:top; position:relative; border:none; background:url(../images/blank.gif); width:180px; height:18px; margin:0; padding:4px 0 6px 10px; outline:none; -webkit-appearance:none; color:#000; font:300 12px/18px "Open Sans", sans-serif}
.search-submit {float:right; padding:8px 10px 0 0}
.search-submit input {vertical-align:top; width:14px; height:14px; border:none; background:url(../images/search.png); margin:0; padding:0; outline:none; cursor:pointer; -webkit-appearance:none}

.header-filter {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; padding:32px 0 0 0}
.header-filter ul {margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top}
.header-filter ul li {display:inline-block; vertical-align:top; margin:0; padding:0 0 0 3px}
.header-filter ul li:first-child {padding:0}
.header-filter ul li a {display:inline-block; border:2px solid #c7c8cf; font:10px/10px ProximaNovaBold, sans-serif; text-transform:uppercase; color:#9a9aa6; text-decoration:none; background:url(../images/blank.gif); padding:6px 20px 5px 20px; height:10px; letter-spacing:0}
.header-filter ul li a:hover,
.header-filter ul li.active a {color:#fff; background:#9a9aa6; border-color:#9a9aa6}

.list+.list {margin:39px 0 0 0}
.list-title {width:100%; padding:0 0 8px 0}
.list-title:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.list-title div {float:left; font:18px/34px ProximaNovaBold, sans-serif; text-transform:uppercase; color:#010000; padding:0 9px 0 0}
.list-title a {float:left; width:34px; height:34px; font-size:12px; line-height:34px; text-transform:uppercase; color:#fff; text-align:center; position:relative; background:#f60800; -moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px}

.list-headers {border-top:2px solid #f60800; padding:1px 0 0 0}
.list-headers table {width:100%; border-collapse:collapse}
.list-headers table th {font-size:12px; font-weight:300; text-align:left; background:#ebf0f3; color:#a2a5a7; vertical-align:top; padding:16px 10px 18px 10px}
.list-headers table th.center {text-align:center}
.list-headers table th.list-content-message-header {padding-left:20px}

.list-content-items {position:relative; overflow:auto; max-height:540px; margin:0 -18px 0 0; outline:none}
.list-content-inner {padding:0 9px 0 0}
.list-content table {width:100%; border-spacing:0 4px}
.list-content table td {background:#fff; vertical-align:middle; padding:9px 10px 8px 10px}
.list-content table tr.active td {background:#29c205; color:#fff}
.list-content table tr.active td a {color:#fff}
.list-content table td.list-content-name {border-left:2px solid #cdcdcd; padding:9px 10px 8px 8px; white-space:nowrap; vertical-align:top}
.list-content table td.list-content-name-2 {padding:9px 10px 8px 10px; white-space:nowrap; vertical-align:top}
.list-content table tr.onread td.list-content-name {border-left-color:#29c205}
.list-content table tr.unread td.list-content-name {border-left-color:#f60800}
.list-content-name-inner {display:table; border-collapse:collapse; text-decoration:none}
.list-content-avatar {display:table-cell; width:34px; position:relative; line-height:0; vertical-align:middle}
.list-content-avatar img {position:relative; -moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px}
.list-content-name-content {display:table-cell; vertical-align:middle; padding:0 0 0 10px}
.list-content-name-text-1 {text-transform:uppercase; font:14px/18px ProximaNovaRegular, sans-serif; color:#010101}
.list-content-name-inner:hover .list-content-name-text-1 {text-decoration:underline}
.list-content table tr.active .list-content-name-text-1 {color:#fff}
.list-content-name-text-2 {color:#393939; font-size:12px; margin:-4px 0 0 0}
.list-content table tr.active .list-content-name-text-2 {color:#fff}
.list-content-player-inner {width:180px}
.list-content-player-ctrl {float:left; width:21px; height:21px; background:url(../images/list-content-player-ctrl.png); margin:0 9px 0 0; cursor:pointer}
.list-content-player-progressbar {float:left; border:2px solid #ebf0f3; width:146px; height:11px; margin:3px 0 0 0; position:relative}
.list-content-player-progressbar-time {position:absolute; left:0; top:0; width:100%; text-align:center; color:#8e919e; font:9px/11px ProximaNovaRegular, sans-serif}
.list-content-genre {font-size:12px}
.list-content-status {text-align:center}
.list-content-status {display:inline-block; width:21px; height:21px; background:url(../images/status.png)}
.list-content-status:hover {background-position:left -21px}
.list-content table tr.onread .list-content-status {background-position:left -42px}
.list-content table tr.unread .list-content-status {background-position:left -21px}
.list-content table tr.active .list-content-status {background-position:left -63px}
.list-content-play {display:inline-block; width:21px; height:21px; background:url(../images/list-content-player-ctrl.png); margin:0 0 0 9px}
.list-content table tr.active .list-content-play {background-position:left -21px}
.list-content-center {text-align:center; color:#393939; font-size:12px; line-height:15px}
.list-content-descr {font-size:12px; line-height:15px}
.list-content-descr a {text-decoration:none}
.list-content-descr a:hover {text-decoration:underline}
.list-content-date {font-size:12px; line-height:15px; text-align:center}
.list-content table td.list-content-message {font-size:14px; line-height:18px; border-left:2px solid #cdcdcd; padding:9px 10px 8px 18px; vertical-align:top}
.list-content table tr.onread td.list-content-message {border-left-color:#29c205}
.list-content table tr.unread td.list-content-message {border-left-color:#f60800}
.list-content table td.list-content-message a {text-decoration:none}
.list-content table td.list-content-message a:hover {text-decoration:underline}
.list-content table td.list-content-message-date {font-size:14px; line-height:18px; vertical-align:top; text-align:center}

.pager {text-align:center; position:relative; padding:23px 0 0 0; font:14px/18px ProximaNovaBold, sans-serif}
.pager a {display:inline-block; vertical-align:middle; margin:0 1px; position:relative; width:22px; height:22px; border:2px solid #9a9aa6; text-decoration:none; background:url(../images/blank.gif); line-height:22px; color:#9a9aa6; -moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px}
.pager a:hover {color:#f60800}
.pager small {font-size:14px; line-height:18px; display:inline-block; vertical-align:middle; color:#9a9aa6; position:relative; margin:-6px 8px 0 8px}
.pager span {display:inline-block; vertical-align:middle; width:32px; height:30px; line-height:34px; background:url(../images/pager.png); color:#fff; margin:-6px 0 0 0}

.item-wrap {position:relative}

.item-others {width:100%; background:#ebf0f3; padding:13px 0 11px 0}
.item-others:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.item-others a {text-decoration:none; color:#393939}
.item-others a.item-others-prev {float:left; padding:0 0 0 19px; background:url(../images/item-others-prev.png) no-repeat left center; margin:0 0 0 12px}
.item-others a.item-others-next {float:right; padding:0 19px 0 0; background:url(../images/item-others-next.png) no-repeat right center; margin:0 12px 0 0}
.item-others-name {text-transform:uppercase; font:12px/15px ProximaNovaBold, sans-serif}
.item-others-genre {font:12px/15px ProximaNovaRegular, sans-serif}

.item {background:#fff; margin:0 0 9px 0; padding:20px 30px 25px 30px; position:relative}
.item-inner {width:100%}
.item-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.item-side {float:right; width:220px; padding:12px 0 0 0}
.item-photo {line-height:0; text-align:center; width:220px; position:relative}
.item-play {text-align:center; font:18px/18px ProximaNovaBold, sans-serif; padding:26px 0 0 0}
.item-play-item {display:inline-block; margin:0 11px}
.item-play-item-name {padding:0 0 11px 0}
.item-play-item-link {line-height:0}
.item-play-item-link a {display:inline-block; width:34px; height:35px; background:url(../images/item-play.png)}
.item-play-item-link a:hover {background-position:left -35px}
.item-container {margin:0 260px 0 0}
.item-content {float:left; width:100%}
.item-header {text-transform:uppercase; font:36px/36px ProximaNovaBold, sans-serif}
.item-header img {vertical-align:middle; margin:-6px 0 0 5px}
.item-info {font-size:14px; line-height:18px; padding:7px 0 0 0}
.item-info a {color:#f60800}
.item-info table {width:100%; border-collapse:collapse}
.item-info td {vertical-align:top; padding:9px 0 0 0}
.item-info td:first-child {padding-right:20px; color:#aeaeae}
.item-editable {background:#ffffbf; display:inline-block; padding:0 5px; margin:0 -5px; position:relative}
.item-photo .item-editable {padding:10px; margin:-10px}

.loading {display:none; position:absolute; left:0; top:0; width:100%; height:100%}
.loading-bg {position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:.7}
.loading-inner {position:absolute; left:50%; top:50%; width:220px; height:125px; margin:-62px 0 0 -110px; background:#fff}
.loading-img {text-align:center; line-height:0; margin:30px auto 0 auto; width:32px; height:32px; background:#fff url(../images/loading.gif)}
.loading-text {text-align:center; padding:18px 0 0 0; color:#000}

.item-edit-text {float:left; width:100%; padding:23px 0 0 0}
.item-edit-text-inner {font-size:14px; line-height:18px; padding:29px 33px 31px 33px; background:#faf9f8}
.item-edit-text-inner div {font-family:ProximaNovaBold, sans-serif; text-transform:uppercase; font-weight:normal}
.item-edit-links {float:left; width:100%; padding:26px 0 12px 0; text-align:center; font:18px/32px ProximaNovaRegular, sans-serif}
.item-edit-links a {display:inline-block; height:30px; width:163px; text-decoration:none; color:#fff; margin:0 0 0 5px}
.item-edit-links a:first-child {margin:0}
.item-edit-links a.item-edit-apply {background:#29c205; border-bottom:3px solid #1eb104}
.item-edit-links a.item-edit-cancel {background:#cc1e18; border-bottom:3px solid #be1611}

footer {min-width:1000px; width:100%; position:relative; margin-top:-90px}
.footer-inner {margin:0 0 0 100px; height:90px; background:#fff}

.footer-copyrights {float:left; font-size:12px; color:#837a71; padding:26px 0 0 40px; font-weight:normal}
.footer-copyrights p {margin:0; padding:0}
.footer-copyrights a {color:#837a71}

.footer-links {float:right; font-size:12px; color:#393939; padding:26px 40px 0 0; font-weight:normal; text-transform:uppercase}
.footer-links a {color:#f60800}